html {
    box-sizing: border-box;
    text-align: center;
}

*, *:before, *:after {box-sizing: inherit;}

main {
    display: grid;
    place-items: center center;
}



main > div {
    margin: auto;
    max-width: 500px;
}

main div {
    width: 100%;
    padding: 50px
}

.top {
    background-color: red;
}

.middle{
    background-color: green;
}

.bottom {
    background-color: blue;
}